@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>*@
</hgroup>

<div class="container mrg-top6">
    <div class="jumbotron mrg-top6">
        <h2>Artistic Event Management Tool <small>Created by Alin Bumbes &copy;2014</small></h2>
        <p>This application is built with passion</p>
    </div>
</div>
