@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>*@
</hgroup>

<div class="container mrg-top6">
    <div class="jumbotron mrg-top6">
        <h2> <small>Created by Alin Bumbes &copy;2016</small></h2>
    </div>
</div>
