@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>*@
</hgroup>

<div class="container mrg-top6">
    <div class="jumbotron mrg-top6">
        <h2>Licenta Alin Bumbes: Artistic Event Management Tool</h2>
        <p>Awesomeness in the making </p>
    </div>
</div>
