@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    @Scripts.Render("~/Scripts/Home/homeViewModel.js")
}
<div>
    <h2>Bine ati venit pe pagina oficiala Alin Bumbes Band!</h2>
    <h3>Selectati tipul de eveniment pentru care doriti sa ne chemati</h3>
</div>
