@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    @Scripts.Render("~/Scripts/Home/homeViewModel.js")
}
<div>
    <h2>Bine ati venit pe pagina oficiala Alin Bumbes Band!Yoooo</h2>
    <h3>Selectati tipul de eveniment pentru care doriti sa ne chemati</h3>
    <select data-bind="options: eventTypes,
                       optionsText: 'Name',
                       value: artisticEventOrder.EventType,
                       optionsCaption: 'Choose music genre...' "></select>
    

</div>
