@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    @Scripts.Render("~/Scripts/Home/homeViewModel.js")
}
<div>
    <h2>Bine ati venit pe pagina oficiala Alin Bumbes Band!Yoooo</h2>
    <h3>Selectati tipul de eveniment pentru care doriti sa ne chemati</h3>
    <table>
        <tr>
            <td style="vertical-align: top">
                <table>
                    <tr>
                        <td>
                            <select data-bind="options: eventTypes,
                       optionsText: 'Name',
                       value: artisticEventOrder.EventType,
                       optionsCaption: 'Alegeti tipul evenimentului...' "></select>
                        </td>
                        <td>
                            <div data-bind="if:artisticEventOrder.EventType">
                                <div>Event type info</div>
                                <div>
                                    <span>Name: </span>
                                    <span data-bind="text:artisticEventOrder.EventType().Name" />
                                </div>
                                <div>
                                    <span>Price(per hour) in lei: </span>
                                    <span data-bind="text:artisticEventOrder.EventType().PricePerHour" />
                                </div>
                                <div>
                                    <span>Minimum duration(in hours) </span>
                                    <span data-bind="text:artisticEventOrder.EventType().MinimumDurationInHours" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <div data-bind="visible:artisticEventOrder.EventType">
                    <div>
                        <span>Data inceperii evenimentului:</span>
                        <input id="datePickerEvent" data-bind="value: artisticEventOrder.EventDate" />
                        <div>
                            <span>Ora inceperii:</span>
                            <select data-bind="options: hoursAll,
                                    optionsText: function(hour) {
                                        return hour.Name;
                                    },
                                    value: artisticEventOrder.EventStartHour,
                                    optionsCaption: 'Alegeti ora inceperii...' "></select>
                        </div>
                        <div>
                            <span>Ora incheierii:</span>
                            <select data-bind="options: hoursAll,
                                    optionsText: function(hour) {
                                        return hour.Name;
                                    },
                                    value: artisticEventOrder.EventEndHour,
                                    optionsCaption: 'Alegeti ora incheierii...' "></select>
                        </div>
                    </div>
                    <div>
                        <span>Locatia evenimentului:</span>
                        <input data-bind="value:artisticEventOrder.EventLocation" />
                    </div>
                    <div>
                        <span>Optional, alege melodii pentru playlist</span>
                        <table>
                            <thead>
                                <tr>
                                    <th><a class='btn btn-info' title="Name" data-bind="click:function () { entitiesPaginator.orderBy('Name') }">Name</a></th>
                                    <th><a class='btn btn-info' title="Author" data-bind="click:function () { entitiesPaginator.orderBy('Author') }">Author</a></th>
                                    <th><a class='btn btn-info' title="Duration in minutes" data-bind="click:function () { entitiesPaginator.orderBy('DurationMin') }">Duration in minutes</a></th>
                                    <th><a class='btn btn-info' title="Music genre" data-bind="click:function () { entitiesPaginator.orderBy('MusicGenre.Name') }">Music genre</a></th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: entitiesPaginator.entities">
                                <tr>
                                    <td data-bind="text: Name"></td>
                                    <td data-bind="text: Author"></td>
                                    <td data-bind="text: DurationMin"></td>
                                    <td data-bind="text: MusicGenre.Name"></td>
                                    <td><a class='btn btn-info btn-large' title="Adauga in playlist" data-bind="click:$parent.artisticEventOrder.addToPlaylist">Adauga in playlist</a></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        @{ Html.RenderPartial("~/Views/Partials/_GridNavigationControls.cshtml"); }

                    </div>
                </div>
            </td>
            <td style="vertical-align: top">
                <a class='btn btn-info btn-large' title="Comanda eveniment" data-bind="enable:isValid(), click:orderEvent">Comanda eveniment</a>
                @{ Html.RenderPartial("~/Views/Partials/_EventOrderDetails.cshtml"); }
            </td>
        </tr>
    </table>


</div>
