@{
    ViewBag.Title = "Login";
}
@section scripts{
    @Scripts.Render("~/Scripts/Home/registerViewModel.js")  
}

<form action="Register" method="POST" data-bind="submit: onBeforeSubmit">
    <div><span>User name:</span><input type="text" name="userName" data-bind="value: userName" /></div>
    <div><span>Password:</span><input type="password" name="password" data-bind="value: password" /></div>
    <div><span>Confirm password:</span><input type="password" data-bind="value: passwordConfirm" /></div>
    <span style="color: red" data-bind="visible:passwordsDoNotMatch">The two passwords do not match!</span>

    <div><button type="submit" data-bind="enable: canRegister()">Register</button></div>
    
    @if (ViewBag.UsernameAlreadyExists == true)
    {
        <span style="color: red">Username already exists!</span>
    }
</form>