@{
    ViewBag.Title = "Login";
}
@section scripts{
    @Scripts.Render("~/Scripts/Home/registerViewModel.js")  
}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-key"></i> Log in</div>
                <div class="panel-body">
                    <form action="Register" method="POST" data-bind="submit: onBeforeSubmit">
                        <span>User name:</span><input type="text" name="userName" data-bind="value: userName" class="form-control mrg-down2" />
                        <div><span>Contact:</span><input type="text" name="contact" data-bind="value: contact" class="form-control mrg-down2" /></div>
                        <div><span>Password:</span><input type="password" name="password" data-bind="value: password" class="form-control mrg-down2" /></div>
                        <div><span>Confirm password:</span><input type="password" data-bind="value: passwordConfirm" class="form-control mrg-down2" /></div>
                        <span style="color: red" data-bind="visible:passwordsDoNotMatch">The two passwords do not match!</span>

                        <div><button type="submit" data-bind="enable: canRegister()" class="btn btn-primary">Register</button></div>

                        @if (ViewBag.UsernameAlreadyExists == true)
                        {
                            <span style="color: red">Username already exists!</span>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
