<div>
    <div data-bind="if:artisticEventOrder.EventType()">
        <span>
            <b>Detalii invitatie </b>
            <b data-bind="text: artisticEventOrder.EventType().Name"></b>
        </span>
    </div>
    <div data-bind="if:artisticEventOrder.ComputedPrice()">
        <span>
            <b>Pret in lei:</b>
            <b data-bind="text: artisticEventOrder.ComputedPrice"></b>
        </span>
    </div>
    <div data-bind="if:artisticEventOrder.EventStartHour()">
        <span>
            <b>Ora inceperii:</b>
            <b data-bind="text: artisticEventOrder.EventStartHour().Name"></b>
        </span>
    </div>
    <div data-bind="if:artisticEventOrder.EventEndHour()">
        <span>
            <b>Ora incheierii:</b>
            <b data-bind="text: artisticEventOrder.EventEndHour().Name"></b>
        </span>
    </div>
    <div data-bind="if:artisticEventOrder.ComputedDuration()">
        <span>
            <b>Durata:</b>
            <b data-bind="text: artisticEventOrder.ComputedDuration"></b>
            <b> ore</b>
        </span>
    </div>
    <div data-bind="if:artisticEventOrder.SelectedPlaylistSongs().length>0">
        <div>Playlist ales:</div>
        <div>
            <span>
                <b data-bind="text: artisticEventOrder.SelectedPlaylistSongs().length"></b>
                <span> cantece totalizand </span>
                <b data-bind="text: artisticEventOrder.MinutesCovered"></b>
                <span> minute </span>
            </span>
        </div>
        <table>
            <thead>
                <tr>
                    <th title="Name">Name</th>
                    <th title="Author">Author</th>
                    <th title="Duration in minutes">Duration in minutes</th>
                    <th title="Music genre">Music genre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: artisticEventOrder.SelectedPlaylistSongs">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Author"></td>
                    <td data-bind="text: DurationMin"></td>
                    <td data-bind="text: MusicGenre.Name"></td>
                    <td><a class='btn btn-info btn-large' title="Sterge din playlist" data-bind="click:$parent.artisticEventOrder.removeFromPlaylist">Sterge din playlist</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>