<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="well">
            <table class="table mrg-down0">


                <tr data-bind="if:artisticEventOrder.EventType()">
                    <td style="border-top:0px solid transparent;">Tip eveniment</td>
                    <td style="border-top:0px solid transparent;" data-bind="text: artisticEventOrder.EventType().Name"></td>
                </tr>


                <tr data-bind="if:artisticEventOrder.ComputedPrice()">
                    <td>Pret</td>
                    <td data-bind="text: artisticEventOrder.ComputedPrice"></td>
                </tr>


                <tr data-bind="if:artisticEventOrder.EventStartHour()">
                    <td>Ora inceperii</td>
                    <td data-bind="text: artisticEventOrder.EventStartHour().Name"></td>
                </tr>


                <tr data-bind="if:artisticEventOrder.EventEndHour()">
                    <td>Ora incheierii</td>
                    <td data-bind="text: artisticEventOrder.EventEndHour().Name"></td>
                </tr>


                <tr data-bind="if:artisticEventOrder.ComputedDuration()">
                    <td>Durata estimata</td>
                    <td><span data-bind="text: artisticEventOrder.ComputedDuration"></span><span>h</span></td>
                </tr>

            </table>
         </div>
    </div>
</div>


@{ Html.RenderPartial("~/Views/Partials/_SelectedPlaylist.cshtml"); }
