<div data-bind="if:artisticEventOrder.SelectedPlaylistSongs().length>0">
    <div class="alert alert-info">
        <span>
            <span>Playlistul ales contine </span>
            <b data-bind="text: artisticEventOrder.SelectedPlaylistSongs().length"></b>
            <span> cantece totalizand </span>
            <b data-bind="text: artisticEventOrder.MinutesCovered"></b>
            <span> minute </span>
        </span>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th title="Name">Name</th>
                <th title="Author">Author</th>
                <th title="Duration in minutes">Duration in minutes</th>
                <th title="Music genre">Music genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: artisticEventOrder.SelectedPlaylistSongs">
            <tr>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Author"></td>
                <td data-bind="text: DurationMin"></td>
                <td data-bind="text: MusicGenre.Name"></td>
                <td><a class='btn btn-danger' title="Sterge din playlist" data-bind="click:$parent.artisticEventOrder.removeFromPlaylist"><i class="fa fa-trash-o"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>