<div>
    <a id="songsbutton" class='btn btn-info btn-large' title="Songs" href="@Url.Action("Songs", "Admin")">Songs</a>
    <a class='btn btn-info btn-large' title="Music Genres" href="@Url.Action("MusicGenres", "Admin")">Music Genres</a>
    <a class='btn btn-info btn-large' title="Event Types" href="@Url.Action("EventTypes", "Admin")">Event Types</a>
</div>