@section scripts{
    @Scripts.Render("~/Scripts/Admin/artisticEventOrdersViewModel.js")
}
<div class="container">
    @Html.Partial("_AdminNav")
</div>

<div class="container">
    <div>Artistic event orders</div>

    <table class="table">
        <thead>
            <tr>
                <th><a class='btn btn-info' title="Type" data-bind="click:function () { entitiesPaginator.orderBy('EventType.Name') }">Type</a></th>
                <th><a class='btn btn-info' title="Date" data-bind="click:function () { entitiesPaginator.orderBy('EventDate') }">Date</a></th>
                <th><a class='btn btn-info' title="Price(in lei)" data-bind="click:function () { entitiesPaginator.orderBy('Price') }">Price(in lei)</a></th>
                <th><a class='btn btn-info' title="Start hour" data-bind="click:function () { entitiesPaginator.orderBy('EventStartHour') }">Start hour</a></th>
                <th><a class='btn btn-info' title="End hour" data-bind="click:function () { entitiesPaginator.orderBy('EventEndHour') }">End hour</a></th>
                <th><a class='btn btn-info' title="Location" data-bind="click:function () { entitiesPaginator.orderBy('EventLocation') }">Location</a></th>
                <th><a class='btn btn-info' title="Location" data-bind="click:function () { entitiesPaginator.orderBy('Requester.UserName') }">User name</a></th>
                <th><a class='btn btn-info' title="Was performed" data-bind="click:function () { entitiesPaginator.orderBy('WasPerformed') }">Was performed</a></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: entitiesPaginator.entities">
            <tr>
                <td data-bind="text: EventType.Name"></td>
                <td data-bind="text: EventDateString"></td>
                <td data-bind="text: Price"></td>
                <td data-bind="text: EventStartHour"></td>
                <td data-bind="text: EventEndHour"></td>
                <td data-bind="text: EventLocation"></td>
                <td data-bind="text: Requester.UserName"></td>
                <td data-bind="text: WasPerformed"></td>
                <td>
                    <a class='btn btn-info btn-large' title="Show playlist" data-bind="click:$parent.entitiesPaginator.edit">Show playlist (<span data-bind="text:SelectedPlaylistSongs.length"></span>)</a>
                    <button class='btn btn-info btn-large' title="Mark as performed" data-bind="disable:WasPerformed,click:$parent.markEventPerformed">Mark as performed!</button>
                    <a class='btn btn-info btn-large' title="Delete" data-bind="click:$parent.entitiesPaginator.delete">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>


    @{ Html.RenderPartial("~/Views/Partials/_GridNavigationControls.cshtml"); }
</div>

<div id="artisticEventOrderDetailsPanel" title="Artistic event order details panel">

    <div data-bind="visible:entitiesPaginator.selectedEntity.SelectedPlaylistSongs().length==0">
        <b>No playlist songs were selected.</b>
    </div>

    <div data-bind="visible:entitiesPaginator.selectedEntity.SelectedPlaylistSongs().length>0">
        <b>Selected playlist songs:</b>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Duration in minutes</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: entitiesPaginator.selectedEntity.SelectedPlaylistSongs">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Author"></td>
                    <td data-bind="text: DurationMin"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>