@section scripts{
    @Scripts.Render("~/Scripts/Admin/musicGenresViewModel.js")
}
@Html.Partial("_AdminNav")
<div>
    <div>Music genres</div>

    <a class='btn btn-info btn-large' title="Add new" data-bind="click:entitiesPaginator.addNew">AddNew</a>
    <table>
        <thead>
            <tr>
                <th><a class='btn btn-info' title="Name" data-bind="click:function () { entitiesPaginator.orderBy('Name') }">Name</a></th>
                <th><a class='btn btn-info' title="Description" data-bind="click:function () { entitiesPaginator.orderBy('Description') }">Description</a></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: entitiesPaginator.entities">
            <tr>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Description"></td>
                <td><a class='btn btn-info btn-large' title="Edit" data-bind="click:$parent.entitiesPaginator.edit">Edit</a></td>
                <td><a class='btn btn-info btn-large' title="Delete" data-bind="click:$parent.entitiesPaginator.delete">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <span>
        <button class='btn btn-info btn-large' title="First page" data-bind="enable:entitiesPaginator.canGoToFirstPage, click:entitiesPaginator.goToFirstPage"><<</button>
        <button class='btn btn-info btn-large' title="Back" data-bind="enable:entitiesPaginator.canGoBack, click:entitiesPaginator.goBack"><</button>
        <span data-bind="text: entitiesPaginator.currentPage"></span>
        <button class='btn btn-info btn-large' title="Back" data-bind="enable:entitiesPaginator.canGoForward, click:entitiesPaginator.goForward">></button>
        <button class='btn btn-info btn-large' title="Last page" data-bind="enable:entitiesPaginator.canGoToLastPage, click:entitiesPaginator.goToLastPage">>></button>
    </span>

</div>

<div id="musicGenreEditPanel" title="Music genre details">
    <label>Name</label>
    <input data-bind="value:entitiesPaginator.selectedEntity.Name" />
    <label>Description</label>
    <input data-bind="value:entitiesPaginator.selectedEntity.Description" />
</div>
