@section scripts{
    @Scripts.Render("~/Scripts/Admin/songsViewModel.js")
}

@Html.Partial("_AdminNav")
<div>
    <div>Songs</div>

    <a class='btn btn-info btn-large' title="Add new" data-bind="click:addNewSong">AddNew</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th><a class='btn btn-info' title="Name" data-bind="click:function () {sortBy('Name')}">Name</a></th>
                <th><a class='btn btn-info' title="Author" data-bind="click:function () { sortBy('Author') }">Author</a></th>
                <th><a class='btn btn-info' title="Duration in minutes" data-bind="click:function () {sortBy('DurationMin')}">Duration in minutes</a></th>
                <th><a class='btn btn-info' title="Music genre" data-bind="click:function () {sortBy('MusicGenre.Name')}">Music genre</a></th>
                <th><a class='btn btn-info' title="Actions" data-bind="click:function () {sortBy('Actions')}">Actions</a></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: songs">
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Author"></td>
                <td data-bind="text: DurationMin"></td>
                <td data-bind="text: MusicGenre.Name"></td>
                <td><a class='btn btn-info btn-large' title="Edit" data-bind="click:$parent.editSong">Edit</a></td>
                <td><a class='btn btn-info btn-large' title="Delete" data-bind="click:$parent.deleteSong">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="songEditPanel" title="Song details">
    <label>Name</label>
    <input data-bind="value:song.Name" />
    <label>Author</label>
    <input data-bind="value:song.Author" />
    <label>Duration in minutes</label>
    <input data-bind="value:song.DurationMin" />
    <label>MusicGenre</label>
    <select data-bind="options: musicGenres,
                       optionsText: 'Name',
                       value: song.MusicGenre,
                       optionscaption: 'Choose music genre...' "></select>
</div>